{{#if showCreateGame}}
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form {{action 'authenticate' on='submit'}}>
        <div class="form-group">
            <label>Game name</label>
            {{input type='text' value=newGame.name placeholder="Game name" class="form-control"}}
        </div>
        <div class="form-group">
            <label>Played at:</label>
            {{input type='date' value=newGame.playedAt placeholder="Name" class="form-control"}}
        </div>
        <div class="form-group">
            <label>Scoring</label>
            {{form-boolean data=newGame.scoring values=scoreValues texts=scoreTexts}}
        </div>
        <div class="form-group row">
            <hr/>
            <div class="col-md-6">
              <button class="btn btn-primary btn-block" {{action 'createGame'}}>Create Game</button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-secondary btn-block" {{action (toggle 'showCreateGame' this)}}>Cancel</button>
            </div>
        </div>
      </form>
    </div>
  </div>
{{else}}
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <button class="btn btn-primary btn-block" {{action (toggle 'showCreateGame' this)}}>New game</button>
      <br/>
    </div>

    <div class="col-md-8 offset-md-2 text-xs-center">
      <h2>Leaders</h2>
      <hr/>
    </div>

    <div class="col-md-8 offset-md-2 text-xs-center">
        <div class="list-group">
            {{#each model as |player|}}
                <div class="list-group-item">
                    <div class="pull-right">
                        <span class="tag tag-warning">{{player.wins}} wins</span>
                    </div>
                    {{player.name}}
                </div>
            {{/each}}
        </div>
    </div>
  </div>
{{/if}}
